version: '3.9'

services:
  redis:
    image: redis:7-alpine
    container_name: redis-server
    ports:
      - "6379:6379"
    restart: unless-stopped

  mongo:
    image: mongo:6.0
    container_name: mongo-db
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  api:
    build: ./api-server
    container_name: nodejs-api
    ports:
      - "3020:3020"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_URI=mongodb://mongo:27017/emailGroups
    depends_on:
      - redis
      - mongo
    restart: unless-stopped

  worker:
    build: ./worker
    container_name: worker
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_URI=mongodb://mongo:27017/emailGroups
    depends_on:
      - redis
      - mongo
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: react-email-app
    ports:
      - "3000:80"
    restart: unless-stopped

volumes:
  mongo-data:
